/* Fonts */
@font-face{
    font-family: 'HelveticaNeue Light';
    src: url(font/HelveticaNeue\ Light.ttf);
}

@font-face{
    font-family: 'HelveticaNeue Bold';
    src: url(font/Helvetica\ Neu\ Bold.ttf);
}

@font-face{
    font-family: 'HelveticaNeue Thin';
    src: url(font/HelveticaNeue\ Thin.ttf);
}

@font-face{
    font-family: 'HelveticaNeue Medium';
    src: url(font/HelveticaNeue\ Medium.ttf);
}



/* Body */
body{
    background-color: #FFFFFF;
}

/* Nav */
nav{
    background-color: #FFFFFF;
    height: 80px !important;
    padding-top: 10px;
}

nav ul{
    padding-left: 120px !important;
    padding-right: 120px !important;
}

nav img{
    margin-right: 30px; 
}

.nav-item{
    color: black;
    padding: 0px 35px 0px 35px;
    font-family: 'HelveticaNeue Thin';
    font-weight: 700;
    margin: -6px;
}

/* Konten */
.web-content{
    padding-left: 120px;
    padding-right: 120px;
}

#yayasan{
    margin-top: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 60px;
}

#yayasan img{
    width: 100%;
    border-radius: 20px;
}

#yayasan h2{
    margin: 30px 0px 20px 70px;
    font-size: 50px;
    font-family: 'HelveticaNeue Bold';
    font-weight: 700;
}

#yayasan p{
    color: black;
    margin: 10px 0px 20px 70px;
    font-size: 16px;
    font-family: 'HelveticaNeue Thin';
    font-weight: 700;
}

#yayasan h5{
    color: green;
    margin: 10px 0px 20px 70px;
    font-size: 20px;
    font-family: 'HelveticaNeue Regular';
    font-weight: 700;
}

#carousel2{
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

#carousel2 img{
    width: 100%;
    border-radius: 34px;
}

#service{
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 60px;
    margin-bottom: 60px;
}

#service h1{
    color: black;
    margin: 10px 0px 50px 0px;
    font-size: 50px;
    font-family: 'HelveticaNeue Medium';
    font-weight: 700;
}

#service h4{
    color: black;
    margin: 10px 0px 0px 0px;
    font-size: 30px;
    font-family: 'HelveticaNeue Medium';
    font-weight: 700;
}

#service h5{
    color: black;
    margin: 20px 0px 26px 0px;
    font-size: 18px;
    font-family: 'HelveticaNeue Light';
    font-weight: 600;
}

.card-panel{
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.card-panel h5{
    color: rgb(70, 69, 69) !important;
}

/* End */
#end{
    background-color: #25282B;
    height: 250px;
}

#end li{
    margin-top: 20px;
    margin-bottom: 20px;
}

#end a{
    color: white;
    font-size: 16px;
    font-family: 'HelveticaNeue Medium';
    font-weight: 500;
}

#end h4{
    color: white;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.download img{
    width: 100%;
}

.line{
    width: 60%;
    background-color: white;
    height: 1px;
    margin-left: 10%;
}

/* Footer */
footer{
    background-color: #25282B;
    height: 70px;
}